<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="test">

	<!-- 添加数据 -->
	<insert id="insertUser" parameterType="mybatis_spring.pojo.User">
		<!-- id自动增长 -->
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
			SELECT
			LAST_INSERT_ID()
		</selectKey>

		<!-- 插入sql语句 -->
		insert into user(username,password) values(#{username},#{password})
	</insert>

	<!-- 修改数据 -->
	<update id="updateUser" parameterType="mybatis_spring.pojo.User">
		<!-- 插入修改sql语句 -->
		update user set username=#{username}, password=#{password} where id=#{id}
	</update>

	<!-- 删除数据 -->
	<delete id="deleteUser" parameterType="mybatis_spring.pojo.User">
		<!-- 插入删除语句 -->
		delete from user where id=#{id}
	</delete>

	<!-- 通过id查询 -->
	<select id="findUserById" parameterType="java.lang.Integer" resultType="mybatis_spring.pojo.User">
		<!-- 插入查询语句 -->
		select * from user where id=#{id}
	</select>

	<!-- 用户名模糊查询 -->
	<select id="findUserByLike" parameterType="java.lang.String" resultType="mybatis_spring.pojo.User">
		<!-- 插入查询语句 -->
		select * from user where username like '%${value}%'
	</select>
	
</mapper>